.DS_Store
*Zone.Identifier

/.claude
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

build
composer.lock
docs
vendor
coverage

# ----------------------- local shit ----------------------- #
remember.txt
_docs